:root{
    --cor-fundo: #8f641a; /* Um bege claro, remetendo a ingredientes */
    --cor-principal: #a87746; /* Um tom de marrom claro, como madeira */
    --cor-secundaria: #81521c7e; /* Creme */
    --cor-destaque: #331b07; /* Laranja queimado, cor de temperos */
    --cor-texto: #4d2409; /* Marrom escuro para o texto */
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* Adicionando a imagem de fundo */
    background-image: url('culinaria.jpg');
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-attachment: fixed; /* Mantém a imagem fixa ao rolar a página */
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas para um toque mais suave */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
}

h1{
    color: var(--cor-destaque);
    margin-bottom: 20px;
}

.caixa-perguntas, .caixa-alternativas, .caixa-resultado {
    margin-bottom: 20px;
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px 25px; /* Aumentei um pouco o padding para botões maiores */
    transition: background-color 0.3s ease; /* Transição mais suave */
    cursor: pointer; /* Indica que é clicável */
    margin: 5px; /* Espaçamento entre os botões */
    font-size: 1rem; /* Ajuste o tamanho da fonte se necessário */
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal); /* Cor de texto que contrasta com o destaque */
    transform: translateY(-2px); /* Efeito sutil ao passar o mouse */
}

.texto-resultado {
    font-size: 1.1rem; /* Aumentei o tamanho da fonte do resultado */
    line-height: 1.6; /* Espaçamento entre linhas para melhor leitura */
}